body {
    background-image: url("eMarket.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    width: 400px;
    height: 230px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    border: 2px solid black;
}

#container table, #container button {
    margin: 0 auto;
}

h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
    animation: textclip 1.5s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


#table1, #table1 tr, #table1 td {
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif;
}

#successRegister {
    color: lightgreen;
    font-size: 20px;
}

#errorMessage {
    color: red;
    font-size: 20px;
}

form {
    vertical-align: middle;
    border: 10px solid transparent;
}


#buttons {
    background-color: lightgreen;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 5px 16px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid black;
    transition-duration: 0.4s;
    cursor: pointer;
}

#buttons:hover {
    background-color: white;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#tryAgain {
    background-color: red;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 5px 16px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid black;
    transition-duration: 0.4s;
    cursor: pointer;
}

#tryAgain:hover {
    background-color: white;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}